body {
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    text-align: center;
}

.label-box {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.input-box {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.input-box .minutes,
.input-box .seconds {
    font-size: 15px;
    border-radius: 5px;
    width: 175px;
}

.timer-box {
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timer-box .minutes-box,
.timer-box .seconds-box {
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

.controls-buttons {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
}

.btn {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn-start {
    background-color: green;
    color: #fff;
}

.btn-stop {
    background-color: red;
    color: #fff;
}

.btn-restart {
    background-color: yellowgreen;
    color: #000;
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }
}