.text-transform-capitalize {
    text-transform: capitalize;
}

.content-header {
    text-align: center;
}

/* navbar text color */
.nav-link-text-color {
    color: yellowgreen;
}

.nav-link-text-color:hover,
.nav-link-text-color:focus {
    color: yellowgreen;
}

/* end navbar text color */

/* type name */
.type-name {
    text-transform: capitalize;
}

.wallpaper-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wallpaper-type-item-link {
    text-decoration: none;
}

.wallpaper-type-item {
    width: 500px;
    margin: 10px;
    /* height: calc(500px * 9 / 16); */
    /* margin: 30px; */
}

.wallpaper-type-item-picture {
    width: 100%;
    height: auto;
    border-radius: 20px;
}